body{
    background-image:url(background.png);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
}

h1,p{
    color:purple;
}

P:nth-child(even){
    color: green;
    font-size:20px;
}

#container{
    border:2px solid white;
}

#container~p{
    background-color: yellow;
}

button{
    background-color:aqua;
    border-radius:10px;
}

button:hover{
    background-color: hotpink;
    color: white;
}

button:active{
    background-color: blue;
    color: yellow;
}

button:link{
    text-decoration: none;
}

/*pseudo-element*/
h1::first-letter{
    font-size:2em;
    font-style:italic;
}

p::first-line{
    background-color: yellow;
}

p::selection{
    color:green;
    background-color: black;
}

#fruit li::before{
    content:"✅";
}

#apple::after{
    content:"🍎";
}

#banana::after{
    content:"🍌";
}
#orange::after{
    content:"🍊";
}

#fruit li::marker{
    content:"✅";
    color:green;
    font-size:1.2em;
}

