body{
    background-image:url(background.png);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
}

h1,p{
    color:purple;
}

#container{
    border:2px solid white;
}

#container~p{
    background-color: yellow;
}

button{
    background-color:aqua;
    border-radius:10px;
}

button:hover{
    background-color: hotpink;
    color: white;
}

button:active{
    background-color: blue;
    color: yellow;
}

button:link{
    text-decoration: none;
}