.gallary{
    display:inline-block;
    border: 1px solid hsl(0,0%,60%);
    margin:5px;
}
.gallary .description{
    padding: 10px;
    text-align: center;
    
}

.gallary:hover{
    border:1px solid hsl(0,0%,20%);
}

.gallary img{
    width:100%;
    height:auto;
}