body{
    background-color:white;
}

h1{
    color:white;
}

p{
    color:black;
}
/*
#p1{
    color:red;
}
#p2{
    color:orange;
}

#p3{
    color:yellow;
}

#p4{
    color:green;
}
*/
/*
.odd{
    color:red;
}

.even{
    color:blue;
}
*/

#p1{
    color:tomato;
}

#p2{
    color:rgb(102, 222, 255);
}

#p3{
    color:#4aa44d;
}

#p4{
    color:hsl(283, 100%, 64%)
}
/*Học lại phần font trong khóa bro code 1:40:01*/
h1{
    font-family:verdana,arial;

}

p{
    font-family:"courier new";
    font-size:18px;/*px,em,%*/
    font-weight:bold;
    font-style: italic; /*Dùng google font*/
}
/*Phần Border*/
h1{
/*    border-style: solid;
    border-width: 3px;
    border-color:hsl(283, 100%, 64%);
    */
    border:3px solid hsl(283, 100%, 64%);
    border-radius:100px;
}

p{
    border-bottom: 3px solid rgb(252,28,28);
    border-top: 3px solid rbg(255,255,35);
    border-left:3px dotted rbg(255,179,37);
    border-right:3px dotted rbg(62,255,62);
    border-radius:20px;
}

/*Phần shadow và box shadow*/
h1{
    text-shadow:1px 1px 5px hsl(0,100%,61%);
}
#box1{
    width:100px;
    height:100px;
    background-color:rgb(234,234,234);
    box-shadow:3px 3px 5px; 
}

/*Phần margin*/
body{
    margin:0px;
}

.box{
    border:5px solid;
    font-size:5em;
    width:250px;
    height:250px;


}

#box3{
    background-color:hsl(0,100%,61%);
    margin-left:50px;
}

#box4{
    background-color:hsl(283, 100%, 64%);
}

/*Phần float*/
body{
    border:3px solid;
    display:flow-root;
}
#img1{
    float:left;
    margin-right:10px;
    margin-top:100px
}
#img2{
    float:right;
    margin-left:10px;
}

/*Phần overflow*/
/*
div{
    border:2px solid;
    height:75px;
    overflow: clip;
    /*overflow-clip-margin:13px;
}*/

div{

    background-color: hsl(0,100%,71%);
    width:100px;
    height:100px;
    display:block;
}

span{
    background-color:rgb(102, 222, 255);
    width: 100px;
    height:100px;
    display:block;
}



